<section class="relative flex h-full w-full flex-col">
  <header class="w-full">
    <img src="/assets/login-banner.png" alt="Logo fatecaronas" />
  </header>

  <div class="flex w-full flex-1 flex-col p-5">
    <div class="flex-[2]">
      <h1 class="text-2xl font-bold">Olá!</h1>
      <h3 class="mb-3 text-lg font-normal">Bem vindo de volta</h3>

      <label for="email" class="font-bold text-gray-700">Email</label>
      <div
        class="relative flex items-center justify-start gap-2 rounded-md bg-gray-300"
      >
        <span class="material-symbols-outlined ml-2"> mail </span>
        <input
          name="email"
          class="h-full w-full appearance-none rounded-md bg-inherit p-3 outline-none"
          type="text"
          placeholder="Insira seu email"
        />
      </div>
      <br />

      <label for="senha" class="font-bold text-gray-700">Senha</label>
      <div
        class="relative flex items-center justify-start gap-2 rounded-md bg-gray-300"
      >
        <span class="material-symbols-outlined ml-2"> lock </span>
        <input
          name="senha"
          class="h-full w-full appearance-none rounded-md bg-inherit p-3 outline-none"
          type="password"
          placeholder="Insira sua senha"
        />
      </div>
      <p class="m-0 mt-1 text-right text-xs">Esqueci minha senha</p>
    </div>
    <button
      class="w-full rounded-md bg-black p-3 font-bold text-white"
      (click)="handleSubmit()"
    >
      Entrar
    </button>
    <button
      class="m-0 mt-1 cursor-pointer appearance-none text-right text-xs"
      (click)="handleSignUp()"
    >
      Não possui uma conta? Inscreva-se
    </button>
  </div>
</section>
