<div class="flex h-screen flex-col items-center justify-center bg-gray-100">
  <div class="h-screen w-full rounded-lg bg-white p-8 shadow-md">
    <h1 class="mb-4 text-2xl font-bold">Configure sua conta</h1>
    <label for="phone" class="mb-2 block text-sm"
      >Digite seu número de telefone</label
    >
    <div class="mb-4 flex">
      <select
        name="phone"
        class="block w-16 rounded-l-lg border border-gray-300 bg-gray-50 p-2"
      >
        <option>+55</option>
      </select>
      <input
        type="text"
        placeholder="Número"
        class="block w-full rounded-r-lg border border-gray-300 p-2 focus:outline-none"
      />
    </div>
    <button
      class="mb-4 w-full rounded-lg bg-gray-700 p-2 text-white"
      (click)="handleContinue()"
      (keyup)="handleContinue()"
    >
      Continuar
    </button>
    <div class="mb-4 flex items-center">
      <div class="flex-grow border-t border-gray-300"></div>
      <span class="px-2 text-gray-500">ou</span>
      <div class="flex-grow border-t border-gray-300"></div>
    </div>
    <button
      class="mb-2 flex w-full items-center justify-center rounded-lg bg-gray-200 p-2"
      (click)="handleContinue()"
      (keyup)="handleContinue()"
    >
      <span class="material-symbols-outlined">ios</span>
      <span class="ml-2">Continue com Apple</span>
    </button>
    <button
      class="mb-2 flex w-full items-center justify-center rounded-lg bg-gray-200 p-2"
      (click)="handleContinue()"
      (keyup)="handleContinue()"
    >
      <span class="font-extrabold text-blue-400">f</span>
      <span class="ml-2">Continue com Facebook</span>
    </button>
    <button
      class="mb-4 flex w-full items-center justify-center rounded-lg bg-gray-200 p-2"
      (click)="handleContinue()"
      (keyup)="handleContinue()"
    >
      <span class="font-extrabold">g</span>
      <span class="ml-2">Continue com Google</span>
    </button>
    <p class="mb-4 text-center text-xs text-gray-500">
      Ao se inscrever, você concorda com nossos
      <a href="#" class="underline">Termos de serviço</a> e
      <a href="#" class="underline">Políticas de privacidade</a>.
    </p>
    <p class="text-center text-sm">
      Já possui uma conta?
      <a href="#" class="text-blue-500">Efetue o login</a>
    </p>
  </div>
</div>
